form {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    box-shadow: -3px 3px rgb(189, 189, 189);
    border-radius: 7px;
}

textarea {
    display: flex;
    max-width: 800px;
    resize: vertical;
}

main h2 {
    margin-top: 10px;
}

.form-control {
    flex-grow: 0;
    margin: 0px auto;
    box-shadow: -3px 3px rgb(189, 189, 189);
}