* {
    text-align: center;
    font-family: sans-serif;
    color: black;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    flex: 0 80px;
    background: hsl(155, 44%, 32%);
    padding: 0;
    margin: 0;
}

header h1 {
    color: white;
}

menu {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
}

menu li {
    display: inline;
}

.nav-link a.active {
    font-weight: bold;
}

.nav-link a {
    color: white;
    padding: 15px;
}

/* FOOTER/MEDIA FOR ALL PAGES */

footer {
    flex: 0 30px;
    background: hsl(0, 0%, 32%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.author {
    color: white;
    font-size: 20px;
}

footer a {
    color: white;
    font-size: 20px;
}

@media (max-height: 600px) {
    header {
        display: none;
    }

    footer {
        display: none;
    }

    main {
        flex: 1 100vh;
    }
}